@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}
body {
  background-color: hsl(185, 41%, 84%);
}
h6 {
  font-size: 0.55em;
  margin: 0;
}
img {
  float: left;
  padding: 0.5em;
}

/*----main----*/
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 350px;
  border-radius: 15px;
  padding: 1rem;
  background-color: white;
}
.flex-box {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/*---left column---*/
.left-column {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(186, 14%, 43%);
}
.input-div {
  display: flex;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 5px;
  font-size: 0.75em;
  text-align: right;
}
.input-div:focus-within {
  box-shadow: 0px 0px 0px 1px hsl(172, 67%, 45%);
}

.input {
  text-align: right;
  border: none;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: inherit;
  color: hsl(183, 100%, 15%);
  outline: none;
}
/*---grid---*/
.grid-box {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.grid-item {
  background-color: hsl(183, 100%, 15%);
  outline: none;
  border-radius: 5%;
  text-align: center;
  font-size: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  min-width: 100%;
}
/*---klasa aktywnych przycisków---*/

.active {
  background-color: red;
  color: red;
}

.grid-box > input {
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: hsl(189, 41%, 97%);
  color: black;
}

/*---right column --*/
.right-column {
  width: 50%;
  padding: 1rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.right-column-split {
  width: 50%;
  height: 50%;
}

.right-split {
  display: flex;
  justify-content: flex-end;
}
.right-column-split output {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  color: hsl(172, 67%, 45%);
}

.right-column-split * {
  margin: 0;
  width: 100%;
}

.tip-style {
  font-size: 0.75rem;
  color: white;
  margin-bottom: 0;
}

.person-style {
  font-size: 0.66rem;
  color: hsl(186, 14%, 43%);
  margin-top: 0px;
  font-weight: bold;
}
.spacing-div {
  width: 100%;
  margin: 0;
  padding-top: 1rem;
}

/*---przycisk reset---*/

.reset-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.reset-div > button {
  width: inherit;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 0.75rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 7px 0px;
}
